<mat-toolbar class="toolbar" style="height: 80px;">
  <img width="140px" src="assets/images/headerlogo.png" alt="logo">
  <span class="flex-spacer"></span>
  <div fxLayout="row wrap">
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/aboutus" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About Us</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact Us</a>
  <a mat-button routerLink="/gotocart" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Go to Cart</a>
  </div>
</mat-toolbar>

