<div class="toolbar" style="padding: 10px;">
    <div align="center">
        <img width="200px" src="assets/images/headerlogo.png" alt="logo">
        <h3 style="margin-left: 100px; margin-right: 100px;">
            AK gadgets is a shopping platform where you can ship the electronic gadgets like mobiles or laptops at an affordable price with 
            on-time delivery and product replacement facility.
        </h3>
        <h2 style="color: yellowgreen;">MAKE YOUR PURCHASE SIMPLE WITH US!</h2>
        <hr>
    </div>
    <div align="center">
        <div>
            <h3 style="color: orange;">SOCIAL MEDIA LINKS:</h3>
            <a mat-fab style="margin: 10px;background-color: yellowgreen;" href="https://www.facebook.com/kumaresh.a.921/" target="blank"><span class="fa fa-facebook fa-lg"></span></a>
            <a mat-fab style="margin: 10px;background-color: yellowgreen;" href="https://www.instagram.com/kumaresharul/?hl=en" target="blank"><span class="fa fa-instagram fa-lg"></span></a>
            <a mat-fab style="margin: 10px;background-color: yellowgreen;" href="https://www.linkedin.com/in/kumaresh-arul-62854321b/" target="blank"><span class="fa fa-linkedin fa-lg"></span></a>
            <a mat-fab style="margin: 10px;background-color: yellowgreen;" href="mailto:" target="blank"><span class="fa fa-envelope fa-lg"></span></a>
        </div>
        <div>
            <h3 style="color: orange;">NAVIGATIONS:</h3>
            <a style="margin: 10px;background-color: yellowgreen;" mat-raised-button routerLink="/home">Home</a>
            <a style="margin: 10px;background-color: yellowgreen;" mat-raised-button routerLink="/aboutus">About Us</a>
            <a style="margin: 10px;background-color: yellowgreen;" mat-raised-button routerLink="/contactus">Contact Us</a>
            <a style="margin: 10px;background-color: yellowgreen;" mat-raised-button routerLink="/gotocart">Go to Cart</a>
        </div>
        <p>&#169; Kumaresh Arul</p>
    </div>
</div>

