<div fxLayout="row wrap">
    <div>
        <img height="400px" src="assets/images/about us image.jpg" alt="aboutus">
    </div>
    <div fxFlex>
        <h1 align="center">About Us</h1>
        <hr><br>
        <h3 style="line-height: 40px;">
            AK gadgets is a online shopping platform that has been from 2022 started in India and we have different many electronic gadgets under different categories.
            We always see the customer satisfaction on our products and we also have a good customer support service. <br>
            To start shopping with us, click the button below.
        </h3>
        <a mat-stroked-button routerLink="/home" style="color: darkblue;">Shop Now</a>
    </div>
</div>
<div>
    <h1 align="center" style="text-decoration: underline;">Why Choose us?</h1><br>
    <div>
        <div fxLayoutGap = "5%">
            <span class="fa fa-rupee fa-lg fa-4x" style="background-color: darkorange; border-radius: 50%; padding: 30px; color: white;"></span>
            <h1 fxFlex>Shop with affordable price</h1>
        </div><br><hr><br>
        <div fxLayoutGap="5%">
            <span class="fa fa-truck fa-lg fa-4x" style="background-color: darkorange; border-radius: 50%; padding: 30px; color: white;"></span>
            <h1 fxFlex>On-Time Delivery</h1>
        </div><br><hr><br>
        <div fxLayoutGap = "5%">
            <span class="fa fa-rotate-left fa-lg fa-4x" style="background-color: darkorange; border-radius: 50%; padding: 30px; color: white;"></span>
            <h1 fxFlex>With Replacement Facility</h1>
        </div><br>
    </div>
</div>
