<div>
  <h1 align="center">Laptops</h1>
  <hr>
</div>
  <div fxLayout="row wrap" *ngIf="gadgets">
    <mat-card fxFlex="46%" fxFlex.xs="100%" *ngFor="let gadget of gadgets" style="margin: 26px; box-shadow: 2px 2px 12px #888888;">
      <mat-card-header>
        <mat-card-title>{{ gadget.name | uppercase}}</mat-card-title>
      </mat-card-header>
      <hr>
      <img height="250px" src="{{ BaseURL + gadget.image }}" alt="{{ gadget .name }}">
      <mat-card-content><h3>{{ gadget.dealprice }}</h3></mat-card-content>
      <mat-card-actions>
        <a mat-button class="button" [routerLink]="['/gadgetdetail',gadget.id]">VIEW DETAILS</a>
      </mat-card-actions>
    </mat-card>
  </div>